.banner{
	position: relative;
	overflow: hidden;
	min-height: 400px;
}

.video-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: url(../img/logo-big-2.png);
	background-size: cover;
}

.video-container video{
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.video-mask{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	background: #000;
	opacity: 0.5;
}

p {
	font-size: 20px;
}
